.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

.max-w-sm rounded overflow-hidden shadow-lg{
overflow: hidden; 
border-radius: 0.25rem; 
max-width: 24rem; 
box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
}

.px-6 py-4
{
  padding-top: 1rem;
  padding-bottom: 1rem; 
  padding-left: 1.5rem;
  padding-right: 1.5rem; 
}

.font-bold text-purple-500 text-xl mb-2
{
  margin-bottom: 0.5rem; 
font-size: 1.25rem;
line-height: 1.75rem; 
font-weight: 700; 
color: #8B5CF6; 
}

.inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2
{
  display: inline-block; 
padding-top: 0.25rem;
padding-bottom: 0.25rem; 
padding-left: 0.75rem;
padding-right: 0.75rem; 
margin-right: 0.5rem; 
border-radius: 9999px; 
font-size: 0.875rem;
line-height: 1.25rem; 
font-weight: 600; 
color: #374151; 
background-color: #E5E7EB; 
}

}
